<div class="dropdown">
  <button class="dropbtn" aria-label="Download this page">
    <i class="fas fa-download"></i>
  </button>
  <div class="dropdown-content">

{{#if page.attributes.jupyter}}    

        <a href="{{page.attributes.jupyter}}">
         .ipynb <i class="fas fa-file"></i>
        </a>

{{/if}}

          <a onclick="print(this)"  class="headerbtn"  data-toggle="tooltip"data-placement="left" title="Print to PDF">
              .pdf <i class="fas fa-file-pdf"></i>
          </a>

  </div>
</div>