<a class="page-card" href="{{{relativize pub.url}}}">
    <div class="page-card-illustration">
      <img alt="" src="{{relativize (resolveResourceURL (join 'image$' asciidoc.attributes.page-illustration))}}"/>
    </div>
    <div class="page-card-body">
      <h4>{{title}}</h4>
      <p class="page-card-description">{{{asciidoc.attributes.description}}}</p>
    </div>
</a>
