<div class="page-downloads">
  <span class="label">Download as</span>
  <ul class="download-options">
    <li>
      <a onclick="print(this)" href="#" data-toggle="tooltip" data-placement="left" title="Print to PDF"
         class="pdf-download">
        <img class="pdf-file-icon icon" src="{{uiRootPath}}/img/pdf.svg"/> .pdf
      </a>
    </li>
    {{#if page.attributes.jupyter}}
      <li>
        <a href="{{relativize (resolveResourceURL (replace (join 'attachment$' page.relativeSrcPath) '.adoc' '.ipynb'))}}"
           title="Download Jupyter Notebook" data-toggle="tooltip" data-placement="left" class="jupyter-download">
          <img class="jupyter-file-icon icon" src="{{uiRootPath}}/img/jupyter-logo.svg"/> .ipynb
        </a>
      </li>
    {{/if}}
  </ul>
</div>
