<div class="dropdown">
  <button class="dropbtn" aria-label="Github">
    <i class="fab fa-github"></i>
  </button>
  <div class="dropdown-content">

    <a href="{{ page.origin.url }}">Open repository <i class="fab fa-github"></i></a>
    
{{#if (and page.fileUri (not env.CI))}}
  <a href="{{page.editUrl}}">Edit this Page <i class="fas fa-edit"></i></a>
{{else if (and page.editUrl (or env.FORCE_SHOW_EDIT_PAGE_LINK (not page.origin.private)))}}
  <a href="{{page.editUrl}}">Edit this Page <i class="fas fa-edit"></i></a>
{{/if}}

    <a href="https://github.com/feelpp/book.feelpp.org/issues/new">Open issue <i class="fas fa-lightbulb"></i></a>


  </div>
</div>

