.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #282c34;
}

.hljs-keyword,
.hljs-operator {
  color: #ae0443;
}

.hljs-pattern-match {
  color: #ae0443;
}

.hljs-pattern-match .hljs-constructor {
  color: #0f538a;
}

.hljs-function {
  color: #0f538a;
}

.hljs-function .hljs-params {
  color: #567911;
}

.hljs-function .hljs-params .hljs-typing {
  color: #a75a02;
}

.hljs-module-access .hljs-module {
  color: #7e57c2;
}

.hljs-constructor {
  color: #66500f;
}

.hljs-constructor .hljs-string {
  color: #517836;
}

.hljs-comment,
.hljs-quote {
  color: #6c4b6c;
  font-style: italic;
}

.hljs-doctag,
.hljs-formula {
  color: #83289f;
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: #9c212b;
}

.hljs-literal {
  color: #156270;
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta-string {
  color: #43632c;
}

.hljs-built_in,
.hljs-class .hljs-title {
  color: #8d651b;
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: #915d2b;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: #1266ab;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link {
  text-decoration: underline;
}
