<!DOCTYPE html>
<html lang="en">
<head>
  {{> head defaultPageTitle='Untitled'}}
</head>
<body class="article docs-home{{#with (or page.attributes.role page.role)}} {{{this}}}{{/with}}">
{{> header}}

<div class="body">
  {{> nav componentOrder=page.attributes.component-order}}
  <main class="article">
    {{!-- toolbar for responsive nav --}}
    <div class="toolbar" role="navigation">
      <div class="toolbar-wrapper">
        {{> nav-toggle}}
      </div>
    </div>

    <div class="content">
      {{> article}}
    </div>

    <div class="content">
      <article class="doc">
        <div class="actions">
          {{#with (get-project-page 'quickstart.adoc')}}
            <a href="{{{relativize this.pub.url}}}" class="button primary">Quickstart</a>
          {{/with}}
          {{#with (get-project-page 'overview.adoc')}}
            <a href="{{{relativize this.pub.url}}}" class="button secondary overview">Overview</a>
          {{/with}}
          <a href="https://join.slack.com/t/feelpp/shared_invite/zt-2qe0q9hw-4pVbhohCXUE6Po9Ma8dbiQ" class="button join-chat">Join Community</a>
        </div>
      </article>
    </div>

    <div class="content">
      <article class="doc">
        <h2>Recommended Resources</h2>
        <div class="books">
          {{#each (get-projects)}}
            {{> book-cover this}}
          {{/each}}
        </div>
      </article>
    </div>

  </main>
</div>

{{> footer}}
</body>
</html>
