<!DOCTYPE html>
<html lang="en">
<head>
  {{> head defaultPageTitle='Untitled'}}
</head>
<body class="article docs-case-study{{#with (or page.attributes.role page.role)}} {{{this}}}{{/with}}">
{{> header}}

<div class="body">
  {{> nav componentOrder=page.attributes.component-order}}
  <main class="article">
    <div class="toolbar" role="navigation">
      {{> nav-toggle}}
      {{#with site.homeUrl}}
        <a href="{{{relativize this}}}" class="home-link{{#if @root.page.home}} is-current{{/if}}"></a>
      {{/with}}
      {{> breadcrumbs}}
    </div>

    <div class="content">
      <article class="doc">
        {{#with @root.page.title}}
          <h1 class="page">{{{this}}}</h1>
        {{/with}}
        {{#if (get-toolboxes @root.page)}}
        <h2>Toolboxes</h2>
        <div class="toolboxes">
          {{#each (get-toolboxes @root.page)}}
          <div class="toolbox">{{> page-card this}}</div>
          {{/each}}
        </div>
        {{/if}}
      </article>
    </div>
  </main>
</div>

{{> footer}}
</body>
</html>
